myservice_backup.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.com/myservice"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/myservice">
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://example.com/myservice">
            <!-- Request/Response for helloWorld -->
            <xsd:element name="helloWorldRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="helloWorldResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="greeting" type="xsd:string"/>
                        <xsd:element name="timestamp" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Complex type for user -->
            <xsd:complexType name="user">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int"/>
                    <xsd:element name="firstName" type="xsd:string"/>
                    <xsd:element name="lastName" type="xsd:string"/>
                    <xsd:element name="email" type="xsd:string"/>
                    <xsd:element name="address" type="tns:address"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="address">
                <xsd:sequence>
                    <xsd:element name="street" type="xsd:string"/>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="state" type="xsd:string"/>
                    <xsd:element name="zip" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <!-- Request/Response for getUser -->
            <xsd:element name="getUserRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="userId" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="user" type="tns:user"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="helloWorldInput">
        <wsdl:part name="parameters" element="tns:helloWorldRequest"/>
    </wsdl:message>
    <wsdl:message name="helloWorldOutput">
        <wsdl:part name="parameters" element="tns:helloWorldResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getUserInput">
        <wsdl:part name="parameters" element="tns:getUserRequest"/>
    </wsdl:message>
    <wsdl:message name="getUserOutput">
        <wsdl:part name="parameters" element="tns:getUserResponse"/>
    </wsdl:message>
    
    <wsdl:portType name="MyPort">
        <wsdl:operation name="helloWorld">
            <wsdl:input message="tns:helloWorldInput"/>
            <wsdl:output message="tns:helloWorldOutput"/>
        </wsdl:operation>
        <wsdl:operation name="getUser">
            <wsdl:input message="tns:getUserInput"/>
            <wsdl:output message="tns:getUserOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="MyBinding" type="tns:MyPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="helloWorld">
            <soap:operation soapAction="http://example.com/myservice/helloWorld"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUser">
            <soap:operation soapAction="http://example.com/myservice/getUser"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="MyService">
        <wsdl:port name="MyPort" binding="tns:MyBinding">
            <soap:address location="http://localhost:8000/soap"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>